<!-- This template displays all the record labels returned from the REST API. -->
<p class="lead">Record Labels
    <a ui-sref="newLabel" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
    </a>
</p>
<form class="form-inline">
    <div class="form-group">
        <label for="labelName"></label>
        <input ng-model="labelName" type="text" class="form-control" id="labelName" placeholder="Filter by name...">
    </div>
    <div class="form-group">
        <label for="founderName"></label>
        <input ng-model="founderName" type="text" class="form-control" id="founderName" placeholder="Filter by founder name...">
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Founder Name</th>
            <th>Foundation Year</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- It loops through all the label objects obtained from the API and displays the details. -->
        <tr ng-repeat="label in labels | filter : labelName | filter : founderName">
            <td ng-bind="label.Name"></td>
            <td ng-bind="label.FounderName"></td>
            <td ng-bind="label.FoundationYear"></td>
            <td>
                <!-- View triggers a state transition so that the details for the label are displayed. -->
                <a class="btn btn-info" ui-sref="viewLabel({id:label.LabelId})">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
                </a>
            </td>
            <td>
                <!-- Delete button deletes the label permanently. -->
                <a class="btn btn-danger" ng-click="deleteLabel(label)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>
