<!-- This template displays all the record labels returned from the REST API. -->
<p class="lead">Record Labels
    <a ui-sref="newLabel" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
    </a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="labelName"></label>
                <input ng-model="labelName" type="text" class="form-control" id="labelName" placeholder="By name...">
            </div>
            <div class="form-group">
                <label for="founderName"></label>
                <input ng-model="founderName" type="text" class="form-control" id="founderName" placeholder="By founder name...">
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Founder Name</th>
            <th>Foundation Year</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- It loops through all the label objects obtained from the API and displays the details. -->
        <tr ng-repeat="label in labels | filter : {Name: labelName, FounderName: founderName}">
            <td ng-bind="label.Name"></td>
            <td ng-bind="label.FounderName"></td>
            <td ng-bind="label.FoundationYear"></td>
            <td class="text-center">
                <!-- View triggers a state transition so that the details for the label are displayed. -->
                <a class="btn btn-info" ui-sref="viewLabel({id:label.LabelId})">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
                </a>
                <!-- Delete button deletes the label permanently. -->
                <a class="btn btn-danger" ng-click="deleteLabel(label)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>
