<!-- This template displays all the bands returned from the REST API. -->
<p class="lead">Bands
    <a ui-sref="newBand" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
    </a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="bandName"></label>
                <input ng-model="bandName" type="text" class="form-control" id="bandName" placeholder="By name...">
            </div>
            <div class="form-group">
                <label for="bandGenre"></label>
                <input ng-model="bandGenre" type="text" class="form-control" id="bandGenre" placeholder="By genre...">
            </div>
            <div class="form-group">
                <label for="bandCountry"></label>
                <input ng-model="bandCountry" type="text" class="form-control" id="bandCountry" placeholder="By country...">
            </div>
        </form>
    </div>
</div>
<div ng-if="bands.length <= 0" class="alert alert-info text-center" role="alert">Loading new data...</div>
<div ng-if="bands.length > 0">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Country</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- It loops through all the band objects obtained from the API and displays the details. -->
            <tr ng-repeat="band in bands | filter : {Name: bandName, Genre: bandGenre, Country: bandCountry}">
                <td ng-bind="band.Name"></td>
                <td ng-bind="band.Genre"></td>
                <td ng-bind="band.Country"></td>
                <td class="text-center">
                    <!-- View triggers a state transition so that the details for the band are displayed. -->
                    <a class="btn btn-info" ui-sref="viewBand({id:band.BandId})">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
                    </a>
                    <!-- Delete button deletes the band permanently. -->
                    <a class="btn btn-danger" ng-click="deleteBand(band)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
