<!-- _form.html contains a simple form which allows users to enter data.  -->
<!-- Note that this form will be included by album-add.html and album-edit.html because both of them accept inputs from users. -->
<!-- The template uses ng-model to bind various album details to different properties of scope model album. -->
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="album.Name" class="form-control" id="name" placeholder="Album name here..." />
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Release year</label>
    <div class="col-sm-10">
        <input type="text" ng-model="album.ReleaseYear" class="form-control" id="name" placeholder="When was it released?" />
    </div>
</div>
<div class="form-group">
    <label for="band" class="col-sm-2 control-label">Band</label>
    <div class="col-sm-10">
        <select ng-model="album.Band" ng-options="band.Name for band in bands" class="form-control" id="band"></select>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" value="Save"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    </div>
</div>
