<!-- This template displays all the albums returned from the REST API. -->
<p class="lead">Albums
    <a ui-sref="newAlbum" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
    </a>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="albumName"></label>
                <input ng-model="albumName" type="text" class="form-control" id="albumName" placeholder="By name...">
            </div>
            <div class="form-group">
                <label for="releaseYear"></label>
                <input ng-model="releaseYear" type="text" class="form-control" id="releaseYear" placeholder="By release year...">
            </div>
            <div class="form-group">
                <label for="bandName"></label>
                <input ng-model="bandName" type="text" class="form-control" id="bandName" placeholder="By band...">
            </div>
        </form>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Release Year</th>
            <th>Band</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="album in albums | filter : {Name: albumName, ReleaseYear: releaseYear, Band: {Name: bandName}}">
            <td ng-bind="album.Name"></td>
            <td ng-bind="album.ReleaseYear"></td>
            <td ng-bind="album.Band.Name"></td>
            <td>
                <!-- View triggers a state transition so that the details for the album are displayed. -->
                <a class="btn btn-info" ui-sref="viewAlbum({id:album.AlbumId})">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
                </a>
            </td>
            <td>
                <!-- Delete button deletes the album permanently. -->
                <a class="btn btn-danger" ng-click="deleteAlbum(album)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>
